body{
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
} 
.shape{
  margin: 30px; 
  width: 100px;
  height: 100px;
}
.box{
  margin: 30px; 
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #bbb;
}
.circle{
  background-color: pink;
  border-radius: 50%;
}
.semicircle{
  height: 50px;
  background-color: #31c27c;
  border-radius: 50px 50px 0 0;
}
.sector{
  background-color: #95cbe7;
  border-radius: 100px 0 0 0;
}
.shadow{
  box-shadow: 5px 5px 4px 4px #bbb;
}
.transform1{
  display: inline-block;
  margin: 10px;
}
.scale1{
  transition: all 0.3s;
}
.scale1:hover{
  transform: scale(1.5);
}
.scale2{
  transition: all 0.3s;
}
.scale2:hover{
  transform: scale(0.5);
}
.translatex{
  transition: all 0.3s;
}
.translatex:hover{
  transform: translateX(20px);
}
.translatey{
  transition: all 0.5s;
}
.translatey:hover{
  transform: translateY(20px);
}
.rotate{
  transition: all 0.3s;
}
.rotate:hover{
  transform: rotate(60deg);
}
.translate3{
  display: inline-block;
  transition: all 0.3s;
}
.translate3:hover{
  background-color: #bbb;
  color: #fff;
  transform: perspective(500px) translate3d(15px,15px,30px);
}
.rotate3{
  display: inline-block;
  transition: all 0.3s;
}
.rotate3:hover{
  background-color: #bbb;
  color: #fff;
  transform: perspective(500px) rotateY(60deg);
}
.linear{
  width: 200px;
  height: 200px;
  background: linear-gradient(to right,red,orange,yellow,green,blue,cyan,purple);
}
.radial1{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
  background: radial-gradient(farthest-side circle at 50% 50%,red,orange,yellow,green,blue,cyan,purple);
}
.radial2{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
  background: repeating-radial-gradient(#0066ff,#0099ff 5px,#00ccff 10px,#00ffff 15px);
}
.transition1{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
  transition: all 0.5s;
}
.transition1:hover{
  width: 100px;
  height: 100px;
  border-radius: 0;
  background-color:  #eaadea;
}
.transition2{
  width: 100px;
  height: 50px;
  margin-top: 20px;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}
.transition2:hover{
  padding: 10px;
  background-color: #999;
  color: #fff;
}
.sk-wave {
  margin: 40px auto;
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 10px; 
  background-color: #54ff9f;
}
.sk-wave .sk-rect {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out; 
}
.sk-wave .sk-rect1 {
  animation-delay: -1.2s; 
}
.sk-wave .sk-rect2 {
  animation-delay: -1.1s; 
}
.sk-wave .sk-rect3 {
  animation-delay: -1s; 
}
.sk-wave .sk-rect4 {
  animation-delay: -0.9s; 
}
.sk-wave .sk-rect5 {
  animation-delay: -0.8s; 
}
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    transform: scaleY(0.4); 
  }
  0% {
    transform: scaleY(1); 
  } 
}
